<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Spring Security Example </title>
</head>
<body>
Add new user
{{#record}}
    {{record}}
{{/record}}
<form action="/registration" method="post">
    <div><label> User Name : <input type="firstName" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> FIO: <input type="firstName" name="fio"/> </label></div>
    <input type="hidden", name="_csrf", value="{{_csrf.token}}" />
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>